<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881187656417-49ujlc2ap2ocgapdsfgfv6gmdk7uf3nd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881187656417-49ujlc2ap2ocgapdsfgfv6gmdk7uf3nd</string>
	<key>API_KEY</key>
	<string>AIzaSyAvqSuv5IsovKo_Ujc-5IldGK04kiKOLVs</string>
	<key>GCM_SENDER_ID</key>
	<string>881187656417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nsingh.nixwhatsappclone</string>
	<key>PROJECT_ID</key>
	<string>messaging-72809</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-72809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881187656417:ios:b1a4c4ab6261d3717f9da0</string>
	<key>DATABASE_URL</key>
	<string>https://messaging-72809.firebaseio.com</string>
</dict>
</plist>